.heading{
    color: $color-white;
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);

    @include respond(phones){
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-30%, -30%);
    }


    &__primary{
        font-family: 'Montserrat', 'Poppins', sans-serif;
        backface-visibility: hidden;

        &--main{
            display: block;
            line-height: 1.7;
            text-transform: uppercase;
            font-size: 6rem;
            font-weight: 800;
            font-family: "Montserrat", sans-serif;

            animation: moveLeft 1s ease-in-out;

            @include respond(phones){
                font-size: 3rem;
            }
        }
        &--sub{
            line-height: 1.5;
            display: block;
            font-size: 1.8rem;
            font-weight: 400;
            
            animation: moveRight 1s ease-in-out;

            @include respond(phones){
                font-size: .9rem;
            }
        }
    }
}
.heading__secondary{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.5;
    margin: 4rem 0;
    color: $color-black;

    @include respond(phones){
        font-size: 2rem;
    }
}
.heading__experience{
    color: $color-yellow-dark;
    font-size: 12rem;
    font-weight: 400;
    text-align: center;

    @include respond(phones){
        font-size: 8rem;
    }

    &--p{
        font-size: 2rem;
        color: $color-black;
        line-height: 1.7;
        font-weight: 500;

    @include respond(phones){
        font-size: 1.2rem;
        text-align: center;
    }
    }
    &--paragraph{
    font-size: 2.6rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: $color-white;

    @include respond(phones){
        font-size: 1.6rem;
    }
}
    
}
.left{
    margin-right: 11rem;
    padding: 3.6rem 0;
    width: 20rem;
    text-align: left;
    float: left;
}
.right{
    text-align: right;
    padding: 3.6rem 0;
}