.row {
    max-width: 114rem;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: 0;
    }

    @include respond(tab-port){
            max-width: 50rem;
        }
    @include respond(phones){
        max-width: 100%;
        padding: 0 2rem;
    }

    @include clearfix;

    [class^="col-"]{
        float: left;
        
        &:not(:last-child) {
            margin-right: 6rem;

            @include respond(tab-port){
                margin-right: 0;
                margin-bottom: 6rem;
            } 
        }
        @include respond(tab-port){
            width: 100% !important;
        }
    }

    .col-1-of-2{
        width: calc((100% - 12.5rem) / 2);
    }
    .col-1-of-4{
        border-radius: 1rem;
        padding: 3rem;
        box-shadow: .5rem 1rem 2rem rgba($color-black, .2);
        width: calc((100% - 3 * 6rem) / 4);
        background-color: $color-white;

        &:hover{
            transition: all .5s;
            transform: translateY(-3rem);
        }
    }
    .col-1-of-3{
        width: calc((100% - 2 * 6rem) / 3);
        
    }
    .col-3-of-4{
        border-radius: 1rem;
        box-shadow: .5rem 1rem 2rem rgba($color-black, .2);
        padding: 3rem;
        width: calc((3 * ((100% - 3 * 6rem) / 4)) + 12rem);
         background-image:linear-gradient(to right,
          rgba($color-white, .1) 0%, 
          rgba($color-white, .9) 50%, 
          rgba($color-yellow-light, .9) 60%,
            $color-yellow-dark 80%), 
            url(../../img/antipolygon-youtube-poBTCBgoZik-unsplash.jpg);

        @include respond(phones){
            display: none;
        }

         &:hover{
            transition: all .5s;
            transform: translateY(-3rem);
        }
    }
}
